{{ if .Values.btc.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: bitcoin-rpc
  namespace: {{ .Values.namespace }}
  annotations:
    secret-generator.v1.mittwald.de/autogenerate: password
data:
  username: Yml0Y29pbmQtdXNlcg==
{{ end }}
{{ if .Values.ltc.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: litecoin-rpc
  namespace: {{ .Values.namespace }}
  annotations:
    secret-generator.v1.mittwald.de/autogenerate: password
data:
  username: Yml0Y29pbmQtdXNlcg==
{{ end }}
{{ if .Values.doge.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: dogecoin-rpc
  namespace: {{ .Values.namespace }}
  annotations:
    secret-generator.v1.mittwald.de/autogenerate: password
data:
  username: Yml0Y29pbmQtdXNlcg==
{{ end }}
{{- if or .Values.usdt.enabled .Values.usdc.enabled .Values.trx.enabled}}
---
apiVersion: v1
kind: Secret
metadata:
  name: usdt-rpc
  namespace: {{ .Values.namespace }}
  annotations:
    secret-generator.v1.mittwald.de/autogenerate: password
data:
  username: Yml0Y29pbmQtdXNlcg==
{{ end }}
{{- if or .Values.eth.enabled .Values.eth_usdt.enabled .Values.eth_usdc.enabled .Values.eth_pyusd.enabled}}
---
apiVersion: v1
kind: Secret
metadata:
  name: eth-rpc
  namespace: {{ .Values.namespace }}
  annotations:
    secret-generator.v1.mittwald.de/autogenerate: password
data:
  username: Yml0Y29pbmQtdXNlcg==
{{ end }}
{{- if or .Values.bnb.enabled .Values.bnb_usdt.enabled .Values.bnb_usdc.enabled}}
---
apiVersion: v1
kind: Secret
metadata:
  name: bnb-rpc
  namespace: {{ .Values.namespace }}
  annotations:
    secret-generator.v1.mittwald.de/autogenerate: password
data:
  username: Yml0Y29pbmQtdXNlcg==
{{ end }}
{{- if .Values.xrp.enabled}}
---
apiVersion: v1
kind: Secret
metadata:
  name: xrp-rpc
  namespace: {{ .Values.namespace }}
  annotations:
    secret-generator.v1.mittwald.de/autogenerate: password
data:
  username: Yml0Y29pbmQtdXNlcg==
{{ end }}
{{- if or .Values.matic.enabled .Values.polygon_usdt.enabled .Values.polygon_usdc.enabled}}
---
apiVersion: v1
kind: Secret
metadata:
  name: polygon-rpc
  namespace: {{ .Values.namespace }}
  annotations:
    secret-generator.v1.mittwald.de/autogenerate: password
data:
  username: Yml0Y29pbmQtdXNlcg==
{{ end }}
{{- if or .Values.avax.enabled .Values.avalanche_usdt.enabled .Values.avalanche_usdc.enabled}}
---
apiVersion: v1
kind: Secret
metadata:
  name: avalanche-rpc
  namespace: {{ .Values.namespace }}
  annotations:
    secret-generator.v1.mittwald.de/autogenerate: password
data:
  username: Yml0Y29pbmQtdXNlcg==
{{ end }}
{{- if or .Values.sol.enabled .Values.solana_usdt.enabled .Values.solana_usdc.enabled .Values.solana_pyusd.enabled}}
---
apiVersion: v1
kind: Secret
metadata:
  name: sol-rpc
  namespace: {{ .Values.namespace }}
  annotations:
    secret-generator.v1.mittwald.de/autogenerate: password
data:
  username: Yml0Y29pbmQtdXNlcg==
{{ end }}
