#
# General
#

namespace: shkeeper
external_ip: 0.0.0.0

dev:
  imagePullSecrets:

storageClassName:

#
# Shkeeper
#

shkeeper:
  image: vsyshost/shkeeper:2.4.5
  port: 5000

#
# BTC
#

btc:
  enabled: true
  mainnet: true
  image: vsyshost/bitcoin-shkeeper:1.0.5
  legacy:
    enabled: false

btc_fullnode:
  enabled: false
  image: vsyshost/bitcoind:27.0
  url: http://shkeeper:shkeeper@fullnode.bitcoin.shkeeper.io:8332
  nodeSelector: {}
  tolerations: []


#
# BTC forks
#

ltc:
  enabled: true
  mainnet: true
doge:
  enabled: true
  mainnet: true
firo:
  enabled: false
  mainnet: true


#
# Tron
#

tron_fullnode:
  image: vsyshost/javatron:GreatVoyage-v4.8.0
  enabled: false
  url: http://java-tron:8090
  solidity_url: http://java-tron:8091
  mainnet: true
  JAVA_TOOL_OPTIONS: ""
  nodeSelector: {}
  tolerations: []

tron_shkeeper:
  image: vsyshost/tron-shkeeper:1.1.11
  host: 'tron-shkeeper'
  port: 6000

trx:
  enabled: false
usdt:
  enabled: false
usdc:
  enabled: false

#
# Ethereum
#

eth_fullnode:
  enabled: false
  url: http://ethereum:8545
  mainnet: true
  nodeSelector: {}
  tolerations: []

ethereum_shkeeper:
  image: vsyshost/ethereum-shkeeper:1.2.0

eth:
  enabled: false
eth_usdt:
  enabled: false
eth_usdc:
  enabled: false
eth_pyusd:
  enabled: false

#
# Monero
#

monero:

  enabled: false
  image: vsyshost/monero:v0.18.1.2
  mainnet: true

  fullnode:
    enabled: false
    monerod:
      host: "monerod"
      port: "1111"
      user: "monerod"
      password: "monerod"
      nodeSelector: {}
      tolerations: []

#
# BNB
#

bnb_fullnode:
  enabled: false
  url: http://bnb:8545
  mainnet: true
  nodeSelector: {}
  tolerations: []

bnb_shkeeper:
  image: vsyshost/bnb-shkeeper:1.1.8

bnb:
  enabled: false
bnb_usdt:
  enabled: false
bnb_usdc:
  enabled: false

#
# XRP
#

xrp_fullnode:
  enabled: false
  url: http://xrp:51234
  mainnet: true
  nodeSelector: {}
  tolerations: []

xrp_shkeeper:
  image: vsyshost/xrp-shkeeper:1.0.15

xrp:
  enabled: false

#
# Polygon
#

polygon_fullnode:
  enabled: false
  url: http://polygon:51234
  mainnet: true
  nodeSelector: {}
  tolerations: []

polygon_shkeeper:
  image: vsyshost/polygon-shkeeper:1.0.3

matic:
  enabled: false
polygon_usdt:
  enabled: false
polygon_usdc:
  enabled: false

#
# Avalanche
#

avalanche_fullnode:
  enabled: false
  url: http://avalanche:9650/ext/bc/C/rpc
  mainnet: true
  nodeSelector: {}
  tolerations: []

avalanche_shkeeper:
  image: vsyshost/avalanche-shkeeper:1.0.0

avax:
  enabled: false
avalanche_usdt:
  enabled: false
avalanche_usdc:
  enabled: false

#
# BTC Lightning
#

btc_lightning:
  enabled: false
  network: mainnet

  lnd:
    image: vsyshost/lndinit:v0.1.28-beta-lnd-v0.19.0-beta
    rest_url: https://lightning-lnd-rest:8080
    # p2p_port should be uniq for for each namespace
    p2p_port: 9735
    BITCOIND_RPCHOST: fullnode.bitcoin.shkeeper.io
    BITCOIND_ZMQPUBRAWBLOCK: tcp://fullnode.bitcoin.shkeeper.io:28334
    BITCOIND_ZMQPUBRAWTX: tcp://fullnode.bitcoin.shkeeper.io:28335
    BITCOIND_RPCPASS: "shkeeper"
    BITCOIND_RPCUSER: "shkeeper"

  rtl:
    image: shahanafarooqui/rtl:v0.15.4
    # web_url and web_port should be uniq for for each namespace
    web_url: http://rtl:3000
    web_port: 3000
    logout_redirect_link: http://shkeeper:5000/wallet/BTC-LIGHTNING

#
# Solana
#

solana_fullnode:
  enabled: false
  url: http://here-should-be-url-to-your-solana-rpc-node/
  mainnet: true
  nodeSelector: {}
  tolerations: []

solana_shkeeper:
  image: vsyshost/solana-shkeeper:1.0.2

sol:
  enabled: false
solana_usdt:
  enabled: false
solana_usdc:
  enabled: false
solana_pyusd:
  enabled: false