apiVersion: v1
kind: ConfigMap
metadata:
  name: lightning-lnbits-config
  namespace: {{ .Values.namespace }}
data:
  .env: |
    ######################################
    ###### .env ONLY SETTINGS ############
    ######################################
    DEBUG=True
    DEBUG_DATABASE=False
    BUNDLE_ASSETS=True
    ENABLE_LOG_TO_FILE=true
    LOG_ROTATION="100 MB"
    LOG_RETENTION="3 months"
    LNBITS_ADMIN_UI=false
    HOST=127.0.0.1
    PORT=5000
    LNBITS_DATA_FOLDER="./data"
    LNBITS_EXTENSIONS_DEFAULT_INSTALL="lnurlp"
    LNBITS_ALLOWED_FUNDING_SOURCES="LndRestWallet"
    ######################################
    ###### END .env ONLY SETTINGS ########
    ######################################
    LNBITS_BACKEND_WALLET_CLASS=LndRestWallet
    LIGHTNING_INVOICE_EXPIRY="3600"
    LND_REST_ENDPOINT={{ .Values.btc_lightning.lnd.rest_url }}
    LND_REST_CERT="/.lnd/tls.cert"
    LND_REST_MACAROON="/.lnd/data/chain/bitcoin/{{ .Values.btc_lightning.network }}/admin.macaroon"
    LNBITS_USER_DEFAULT_EXTENSIONS="lnurlp"
    LNBITS_ALLOW_NEW_ACCOUNTS="false"