apiVersion: v1
kind: ConfigMap
metadata:
  name: lightning-lnbits-config
  namespace: {{ .Values.namespace }}
data:
  .env: |
    #For more information on .env files, their content and format: https://pypi.org/project/python-dotenv/

    ######################################
    ###### .env ONLY SETTINGS ############
    ######################################
    # The following settings are ONLY set in your .env file.
    # They are NOT managed by the Admin UI and are not stored in the database.

    # === Logging and Development ===

    DEBUG=True
    DEBUG_DATABASE=False
    BUNDLE_ASSETS=True

    # logging into LNBITS_DATA_FOLDER/logs/
    ENABLE_LOG_TO_FILE=true

    # https://loguru.readthedocs.io/en/stable/api/logger.html#file
    LOG_ROTATION="100 MB"
    LOG_RETENTION="3 months"
    # for database cleanup commands
    # CLEANUP_WALLETS_DAYS=90

    # === Admin Settings ===

    # Enable Admin GUI, available for the first user in LNBITS_ADMIN_USERS if available.
    # Warning: Enabling this will make LNbits ignore most configurations in file. Only the
    # configurations defined in `ReadOnlySettings` will still be read from the environment variables.
    # The rest of the settings will be stored in your database and you will be able to change them
    # only  through the Admin UI.
    # Disable this and clear `settings` table from database to make LNbits use this config file again.
    LNBITS_ADMIN_UI=false

    HOST=127.0.0.1
    PORT=5000
    # VERSION=
    # USER_AGENT=

    # === LNbits ===

    # Database: to use SQLite, specify LNBITS_DATA_FOLDER
    #           to use PostgreSQL, specify LNBITS_DATABASE_URL=postgres://...
    #           to use CockroachDB, specify LNBITS_DATABASE_URL=cockroachdb://...
    # for both PostgreSQL and CockroachDB, you'll need to install
    #   psycopg2 as an additional dependency
    LNBITS_DATA_FOLDER="./data"
    # LNBITS_DATABASE_URL="postgres://user:password@host:port/databasename"

    # Extensions to be installed by default. If an extension from this list is uninstalled then it will be re-installed on the next restart.
    # The extension must be removed from this list in order to not be re-installed.
    LNBITS_EXTENSIONS_DEFAULT_INSTALL="lnurlp"

    # LNBITS_EXTENSIONS_MANIFESTS="https://raw.githubusercontent.com/lnbits/lnbits-extensions/main/extensions.json,https://raw.githubusercontent.com/lnbits/lnbits-extensions/main/extensions-trial.json"
    # GitHub has rate-limits for its APIs. The limit can be increased specifying a GITHUB_TOKEN
    # LNBITS_EXT_GITHUB_TOKEN=github_pat_xxxxxxxxxxxxxxxxxx

    # which fundingsources are allowed in the admin ui
    LNBITS_ALLOWED_FUNDING_SOURCES="LndRestWallet"

    # uvicorn variable, allow https behind a proxy
    # IMPORTANT: this also needs the webserver to be configured to forward the headers
    # http://docs.lnbits.org/guide/installation.html#running-behind-an-apache2-reverse-proxy-over-https
    FORWARDED_ALLOW_IPS="*"

    # Path where extensions will be installed (defaults to `./lnbits/`).
    # Inside this directory the `extensions` and `upgrades` sub-directories will be created.
    # LNBITS_EXTENSIONS_PATH="/path/to/some/dir"

    # ID of the super user. The user ID must exist.
    # SUPER_USER=""

    # LNBITS_TITLE="LNbits API"
    # LNBITS_PATH="folder/path"

    # === Auth Configurations ===

    # Secret Key: will default to the hash of the super user.
    # !!!!! It is strongly recommended that you set your own strong random value !!!!
    AUTH_SECRET_KEY=""

    # === Funding Source ===# How many times to retry connectiong to the Funding Source before defaulting to the VoidWallet
    # FUNDING_SOURCE_MAX_RETRIES=4

    ######################################
    ###### END .env ONLY SETTINGS ########
    ######################################